body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff5f8;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h1 {
  font-size: 2rem;
  color: #d94a7a;
}

canvas {
  border: 2px solid #444;
  margin-top: 20px;
  cursor: grab;
}

select, button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 6px;
  border: none;
  background-color: #ffe1ec;
  color: #333;
  cursor: pointer;
}

#memeVideo {
  margin-top: 20px;
  display: none;
  border: 2px solid #333;
}
